
node_modules
.env
#test
package-lock.json
hardhat.config.orig.js


# Hardhat files
/cache
/artifacts
/ignition

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
